{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "plugins": [
    "standard",
    "unicorn",
    "xo"
  ],
  "extends": [
    "plugin:xo/recommended",
    "plugin:unicorn/recommended",
    "standard"
  ],
  "rules": {
    "block-spacing": [
      1,
      "always"
    ],
    "eqeqeq": "error",
    "curly": "error"
  }
}
